In [1]:
# Using yfinance to extract Stock Data
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\hhuic\anaconda3\lib\site-packages (0.1.55)
Requirement already satisfied: numpy>=1.15 in c:\users\hhuic\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied: pandas>=0.24 in c:\users\hhuic\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\hhuic\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in c:\users\hhuic\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Requirement already satisfied: lxml>=4.5.1 in c:\users\hhuic\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\hhuic\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hhuic\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hhuic\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hhuic\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hhuic\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hhuic\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\hhuic\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [2]:
import yfinance as yf
import pandas as pd

In [5]:
TSLA=yf.Ticker("TSLA")
#using ticker object and the function histrory extract stock information and save it in a datafroame name AAPL_data. 
#Set the period parameter to mx so we get information for the maximum amount of time.

In [6]:
TSLA_data= TSLA.history(period="max")
TSLA_data.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0